<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card bg-light mb-3" style="max-width:50rem;margin-top:20px;">
      <div class="card-header">TODO APP</div>
    </div>
    <div class="input-group mb-1">
      <input type="text" class="form-control" [(ngModel)]="value" placeholder="Enter ToDo">
      <div class="input-group-append">
        <button (click)="add()" [disabled]="!value" class="input-group-text">
          <i class="material-icons" >
            add_circle
          </i>
        </button>
      </div>
    </div>
    <div class="list-group">
      <a href="#" *ngFor="let list of list;let i=index" class="list-group-item list-group-item-action">
        <input type="checkbox" required name="radio_value" value="list.checked" (change)="list.checked=!list.checked" />
        {{list.title}}
        <i class="material-icons" (click)="remove(list.id)">
          delete
        </i>
      </a>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>